@keyframes move-x {
  from {
    transform: translateX(0) translateZ(0);
  }

  to {
    transform: translateX(-100%) translateZ(0);
  }
}

.scroll-seamless {
  > .swiper-wrapper {
    min-width: 100%;
    white-space: nowrap;
    animation: move-x 10s linear infinite;
    animation-play-state: running;
    left: 0;
    top: 0;
    .swiper-slide {
      width: auto;
      min-width: 100%;
    }
  }

  &.animation-paused {
    > .swiper-wrapper {
      animation-play-state: paused;
    }
  }
}
